.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: 0;
  line-height: 22px;
  grid-area: footer;
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    padding-top: calc(48px - 20px);
    padding-bottom: 36px;
  }
}
