.header {
  border-bottom-width: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  padding-top: 40px;
  opacity: 70%;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 726px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
}
