.header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  padding-top: 40px;
  opacity: 70%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 580px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
  .header__logo {
    height: 24px;
    width: 126px;
  }
}

@media screen and (max-width: 880px) {
  .header__logo {
    padding-left: 27px;
  }
}
