.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 48px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto 373px) auto;
  gap: 18px 16px;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  background: transparent url(../images/Pencil.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border-color: white;
  border-style: solid;
  grid-area: button;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/Add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 880px) {
  .profile__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .profile__image {
    margin: 38px 0 26px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__description {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 14px 10px;
  }

  .profile__add-button {
    margin: 36px 0;
    width: 282px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
